body div h1, h4 {
  text-align: center;
}

body div h1 {
  color: green;
}

body div img {
  width: 200px;
}

.leftFloatImage {
  float: left;
  margin-top: 30px;
  margin-right: 7px;
}

#foto1, #foto2 {
  position: relative;
  float: right;
}

#foto2 {
  right: 100px;
}

body div table {
  text-align: justify;
}